
body {
    background-color: var(--accent-back);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h3, p, .caption, .button-group button {
    font-family: 'Figtree';
}

h1 {
    font-size: 40px;
}

.home-box {
    background-color: var(--accent-home);
    width: 700px;
    padding-top: 80px;
    padding-bottom: 110px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 1px solid #333;
    align-items: center;
    overflow: hidden;
    background-clip: padding-box;
}
  
body.matcha {
    --accent: #3c7f27;       
    --accent-secondary: #dbc63d; 
    --accent-link: #0d4811;
    --accent-home: #99c88b;
    --accent-back: #599746;
}
  
body.star {
    --accent: #d66d92;    
    --accent-secondary: #e393b5; 
    --accent-link: #4d1528;
    --accent-home: #e8d0d8;
    --accent-back: #d4839d;
}
  
/* Apply variables to elements */
.accent {
    color: var(--accent);
}

a {
    color: var(--accent);
    display: inline-block;
    transition: transform 0.2s color 0.2s;
}

a:hover {
    color: var(--accent-link);
    transform: scale(1.04);
}

.theme-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.theme-widget img {
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s;
}
  
.theme-widget img:hover {
    transform: scale(1.15);
}
  
/* Centered Home Screen */
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.button-group {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
  
.button-group button {
    background-color: var(--accent);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: white;
    transition: background-color 0.2s, transform 0.2s;
}
  
.button-group button:hover {
    transform: scale(1.05);
    background-color: var(--accent-secondary);
    border: 1px solid var(--accent);
}
  
/* Modal Base Styles */
.modal {
    pointer-events: none;
    background-color: transparent;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
}
  
/* Modal Content */
.modal-content {
    pointer-events: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: 12px;
    border: 2px solid #333;
    max-width: 600px;
    width: 80%;
    box-shadow: none;
    overflow: hidden;
}

.modal-header {
    background-color: #333;
    color: white;
    padding: 18px 20px;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
    user-select: none;
}
  
.modal-title {
    font-weight: bold;
    letter-spacing: 0.05em;
}
  
.modal-body {
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: default;
}

.modal-image {
    max-width: 100%;
    max-height: 70vh;
    margin-top: 10px;
}

.image-modal-content {
    z-index: 100;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.scrollable-image-content {
    max-height: 80vh;
    overflow-y: auto;
    align-items: center;
    text-align: center;
}

.image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.caption {
    font-size: 1.2em;
    color: #333;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s;
}
  
.close:hover {
    transform: scale(1.3);
}

.scrollable-projects {
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.projects-scrollbox {
    overflow-y: auto;
    padding-right: 10px;
    max-height: 60vh;
}
  
.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.project-list li {
    margin-bottom: 20px;
    line-height: 1.5;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    background-color: transparent; 
}
  
.site-footer a {
    color: var(--accent-link);
    text-decoration: none;
    transition: color 0.2s;
}
  
.site-footer a:hover {
    color: var(--accent-link);
}

@media (max-height: 650px) {
    .site-footer {
      display: none;
    }
}
  
  